.midTop {
  width: 100%;
  height: 8rem;
  background-color: rgba($color: #ae8c8c, $alpha: 1);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-size: 1.8rem;
  & p {
    padding: 2rem;
    font-size: 2rem;
  }
  & button {
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border-radius: 12px;
    color: #fff;
  }
}
.midWrap {
  width: 100%;
  //   height: 8rem;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
}

.upgradeAni {
  width: 100%;
  display: flex;
  justify-content: space-around;
  & img {
    width: 100%;
    max-width: 5rem;
  }
}
.imgWrap {
  & p {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
  }
}

.moreAni {
  //   margin-top: 1rem;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  & img {
    width: 10%;
    max-width: 50px;
    position: relative;
    animation: wave 3s infinite;
  }
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.moreWrap {
  height: 10vh;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  overflow: scroll;
  position: relative;

  & p {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
  }
}

.moreWrap:nth-child(1) {
  background-image: url("../../assets/img/map1.webp");
}
.moreWrap:nth-child(2) {
  background-image: url("../../assets/img/map2.webp");
}
.moreWrap:nth-child(3) {
  background-image: url("../../assets/img/map3.webp");
}
.moreWrap:nth-child(4) {
  background-image: url("../../assets/img/map1.webp");
}
.moreWrap:nth-child(5) {
  background-image: url("../../assets/img/map2.webp");
}
.moreWrap:nth-child(6) {
  background-image: url("../../assets/img/map3.webp");
}
