.wrap {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/cookieBg.webp");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.subTitle {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  margin-top: 3rem;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  & span {
    font-size: 15px;
  }
}

.clicker {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-50%) scale(1.05);
  }
}
