main {
  width: 100vw;
  height: 100vh;
  display: flex !important;
}

article:nth-child(1) {
  width: 30%;
}
article:nth-child(2) {
  background-image: url("./assets/img/cookieBg.webp");
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  width: 40%;
  overflow: scroll;
}
article:nth-child(3) {
  width: 30%;
  //   max-width: 30rem;
}

@media all and (max-width: 768px) {
  main {
    overflow: scroll;
  }
  article {
    width: 100% !important;
    height: 100% !important;
  }
  article:nth-child(1) > div {
    width: 100vw;
  }
  article:nth-child(2) {
    overflow: visible;
  }
  article:nth-child(2) > div {
    width: 100vw;
  }
  article:nth-child(3) > div {
    width: 100vw;
  }
}
